/* checking out primary colors

color: #34c6d1;
color: #81e8ef;
color: #affff1;
color: #c6fbff;
color: #469ca3;
color: #3cc490;
color: 229 20% 98%; */
/* Light mode */
:root {
  --test: #7c3aed;
  --test: #6730c5;
  --test: #516ff4;
  --test: #3b54c4;
  --test: #6a739b;
  --test: #a1a1aa;
  --test2: hsl(240, 4%, 16%);

  /* == layout sizes == */
  --sidebar-width: 260px;
  --nav-height: 65px;
  /* --sidebar-padding: calc(var(--nav-height) + 2rem) 2.25rem 0; */
  --sidebar-padding: 0 2.25rem 0;
  --main-content-max-width: 650px;

  /* == utils == */
  --max-width: 1400px;
  /* --max-width: 1012px; */
  --border-radius: 12px;
  --radius: 0.5rem;
  --main-padding: calc(2rem + 4px) 64px;

  /* == colors == */
  --white: 0 0% 100%;
  --black: 240 10% 3.9%;
  --code-background: 240 4% 9%;

  /* == svgs == */
  --svg-slate: 240 3.7% 15.9% / 0.9;

  /* == Theme == */
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 262.1 83.3% 57.8%;
  --primary-foreground: 210 20% 98%;
  --primary-foreground-high-contrast: 229 54% 35%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 72.22% 50.59%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5% 64.9%;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    /* == colors == */
    --code-background: 240 6% 97%;

    /* == svgs == */
    --svg-slate: 240 5% 64.9% / 0.5;

    /* == Theme == */
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 229 54% 50%;
    --primary-foreground: 229 20% 98%;
    --primary-foreground-high-contrast: 211 100% 76%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  max-height: 100dvh;
}

body {
  color: hsl(var(--foreground));
  background: hsl(var(--background));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/*  Change util variables based on viewport width */

@media screen and (max-width: 768px) {
  :root {
    /* == layout sizes == */
    --main-padding: 64px 40px;

    /* == utils == */
  }
}
@media screen and (max-width: 500px) {
  :root {
    /* == layout sizes == */
    /* == utils == */
    --main-padding: 40px 20px;
  }
}
