.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.65rem;
  background-color: transparent;
  overflow: hidden;
  transition: all 0.25s ease;
  cursor: pointer;

  // if content is link wrapper
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // if plain svg
  svg {
    fill: hsl(var(--foreground));
    transition: all 0.2s ease;
  }

  &:hover {
    background-color: hsl(var(--muted));
    border-radius: calc(var(--radius) - 2px);
    svg {
    }
  }
}

@media screen and (prefers-color-scheme=dark) {
  .icon-wrapper {
    svg {
      fill: hsl(var(--muted-foreground));
    }

    &:hover {
      background-color: hsl(var(--muted));
      svg {
        fill: hsl(var(--foreground));
      }
    }
  }
}
