:root {
  --package-manager-color: #b392f0;
  --package-command-color: #9ecbff;
}

.package-manager-code-snippet-container {
  min-width: 100%;

  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: transparent;

  .package-manager {
    color: var(--package-manager-color);
  }
  .package-command {
    color: var(--package-command-color);
  }
}
